{% extends 'header.html' %}
{% block content %}
<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	


	<title>index page</title>

</head>
<body>

   <center style="margin-top: 185px;">
<h1>Forgot Password</h1>
{% if msg %}
    <center> <b style="color: blue;">{{msg}}</b></center>
    {%endif%}

<div class="container mt-2">
  <form method="post" action="{% url 'forgot-password' %}">
  	{% csrf_token %}
    
    <div class="mb-3">
      <label for="email">Enter Email</label>
      <input type="text"  id="text" placeholder="Enter your email  " name="email">
    </div>
     
    <button  type="submit" value="send OTP" class="btn btn-primary  " >Send OTP</button>
  </form>
</div>
</center>	




</body>
</html>
{% endblock %}